  .heading
  {
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    background: white ;
    padding: 5px; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 16px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 18px;
    margin-right: 10px;
  }
 .result_para_tag span{
  white-space: pre-line;
 }
 .copy_right_footer{
  position: fixed;
  color:#dda0dd;
  font-weight:bold;
  bottom:0;
  width:100%;
  background-color: azure;
  line-height: 3;
  text-align: center;
 }
 canvas{
  border: 5px solid #fba0e3;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 110px;
 }